@model MealPlanner_Web.Models.Dto.MealUpdateDTO

<form asp-action="UpdateMeal">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Meal</h1>
        <hr />


        <input hidden asp-for="Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="URL" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Image" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="HealthRating" class="control-label pt-2" style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HealthRating" class="form-control" />
                <span asp-validation-for="HealthRating" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="IndexMeal" asp-controller="Meal" class="btn-primary btn form-control">Back To Home</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control " />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 

